*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


div#add{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}


#headerAdd{
    width: 100%;
    height: 6%;
    display: flex;
    background-color: #000CEB;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 5px;
    color: white;
}
#infoAdd{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

#infoAdd section{
    width: 49%;
    border-radius: 10px;
    padding: 10px;
    height: 200px;
    box-shadow: 1px 1px 2px white;
}

#animeAdd{
    background-color: grey;
    position: relative;
    color: white;
    text-shadow: 1px 1px 1px black;
}

#animeAdd div,#characterAdd div{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#characterAdd{
    background-color: grey;
    position: relative;
    color: white;
    text-shadow: 1px 1px 1px black;
}

#add main{
    color: white;
}




main{
    background-color: grey;
    border-radius: 20px;
    margin: 10px;
    height: 100%;
    padding: 30px;
}